version: '3.9'

services:

  backend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.backend
    container_name: gomoku-backend
    ports:
      - "8080:8080"

  frontend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.frontend
    container_name: gomoku-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
